/***************
FOOTER
***************/

footer {
	height: 100px;
	background: $vermilion;
	border-top: 5px solid $sunshine;
	text-align: center;
	color: $fresh;
}

#foot {
	max-width: 1200px;
}

.foot_copy {
	margin: 0;
	padding-top: 10px;
}

#seba {
	& {
		margin: 25px 8px 0 0;
		text-align: right;
		font-size: 0.8em;
	}
	a {
		color: $sunshine;
	}
}




